<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>
		<add name="CarManagementDB"
			 connectionString ="Data Source=YASH_VICTUS;Initial Catalog=CarDBMS;Integrated Security=True;Trust Server Certificate=True"
			 providerName="Microsoft.Data.SqlClient" />
	</connectionStrings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	
</configuration>