<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
	<connectionStrings>
		<add name="CarHireDB"
			 connectionString="Data Source=RUMAISA;Initial Catalog=CarManagementSystem;Integrated Security=True;Trust Server Certificate=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
	
</configuration>

