<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>
		<add name="CarManagementDB"
			 connectionString="Data Source=RUMAISA;Initial Catalog=CarHireSystem;Integrated Security=True;Trust Server Certificate=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>


	
		<appSettings>
			<add key="SmtpHost" value="smtp.gmail.com"/>
			<add key="SmtpPort" value="587"/>
			<add key="SenderEmail" value="horizondrivecompany@gmail.com"/>
			<add key="SenderPassword" value="hjkr lvlh kujf dquw "/>
			<!--  -->
		</appSettings>
	

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	
</configuration>